#container
{
  display: grid;
  gap: 20px;
}
#createsItem
{
  display: grid;
  width: 500px;
  padding: 20px;
  text-align: center;
  background-color: lightsteelblue;
  border-radius: 25px;
}
#createsItem > input + select
{
  background-color: gray;
  border-radius: 5px;
}
#createsProject
{
  display: grid;
  width: 500px;
  padding: 20px;
  text-align: center;
  background-color: lightsteelblue;
  border-radius: 25px;
}
.projectContainer
{
  display: grid;
  width: 250px;
  padding: 20px;
  text-align: center;
  background-color: lightsteelblue;
  border-radius: 25px;
}
.projectContainer > h1:hover
{
  text-decoration: underline;
}
